{% extends "base.html" %}

{% block title %}Rooms Available{% endblock %}

{% block content %}
        <h1>Rooms Available</h1>
        <p>
            <ul>
                {% for room in rooms %}
                    <li>
                        <strong>{{room.name}}</strong>
                        <br>
                        Can be found at Room: {{room.room_number}} on Floor: {{room.floor_number}}
                    </li>
                {% endfor %}
            </ul>
        </p>
        <h4><a href="{% url 'home' %}">HOME</a></h4>

{% endblock %}